<div class="container">
	<h1>blah</h1>
	<% @notification_receipts.each do |receipt| %>
		Status: 
		<% if receipt.is_read == false %>
			Unread
		<% else %>
			Read
		<% end %>
		<span><%= button_to receipt.notification.subject, mark_read_notification_path(receipt) %></span><br />
	<% end %>
</div>