<div class="page-top-offset">
</div>

<div class="container">
	<div class="row">
	  <div class="col-md-10 col-md-offset-1">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">fundwok&nbsp;<span style="font-weight: 400;">(no-reply@fundwok.com)</span></h3>
			  </div>
			  <div class="panel-body">
			  	<%= render :partial => "notifications/content", :locals => {:notification => @notification_receipt.notification} %>
			  </div>
			</div><!-- end panel -->
			<%= link_to 'Back to notifications', notifications_path %>
		</div><!-- end col -->
	</div><!-- end row -->
</div><!-- end container -->