<p>Hi there,</p>

<p>
	<%= @sender_name %> says:<br />
	"<%= @body %>"<br />
	about <%= link_to @fund_title, @fund_url %> on FundWok.
</p>
<p>
	Apply before the spots run out!
</p>

<p>Thanks,<br />
FundWok</p>