<div class="row">
	<div id="user-profile-name-and-location">
		<div class="col-lg-6 col-md-12 col-sm-12 text-center" id="user-profile-name">
			<%= @user.name %>
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12 text-center" id="user-profile-location">
			<span id="location-span">
				<%= @user.user_info.location %>
			</span>
			<% if current_user && @user == current_user %>
				<input id="edit-location-input" type="text" style="display:none;" data-load="<%= @user.user_info.location_tokenize.to_json rescue [] %>" ></input>
				<%= link_to "&nbsp;<i class='fa fa-pencil editable'></i>&nbsp;Edit Location".html_safe, "#", :id => 'edit-location', :class => 'fw-main-color' %>
			<% end %>
		</div>
	</div>
</div>