<div class="container">
	<h1 class="decoration text-center proj"><span class="nobgr"><%= @user.name %>'s Followers</span></h1>
	<div class="container">
	  <div class="row">
	    <div class="col-md-10 col-md-offset-1">
	      <%= render '/users/userscontainer' %>
	    </div><!-- end coloum -->
	  </div><!-- end row -->
	</div><!-- container -->
</div>