<div class="intro-pages">
	<div class="jumbotron" id="aboutfundwok-visual">
	</div>

	<div class="container">
		<div class="row">
	    <div class="col-md-10 col-md-offset-1">
	    	<div class="row">
					<div class="col-md-9">
						<h1>About FundWok</h1>

						<br />

						<p>FundWok is an innovative online social community where resources are located and shared effectively. It serves as a hub for great ideas and initiatives that are encouraged and supported. Simply put, FundWok is where established professionals or individuals make differences however they like. Our slogan is: “Find it, or Fund it.”</p>

						<br />

						<p>There is no limit to how many projects can be funded or what kind of projects they are. Companies can offer funds to grow or market their business in unique ways not available anywhere else online. Individuals can promote social causes, get assistance with projects, hire help for the day, and so on, as the possibilities are endless.</p>

						<br />
						 
						<p>FundWok is unique in that it gives funders the freedom to choose how much to give and what conditions to set to giving without any commitments.</p>
					</div>

					<div class="col-md-3">
						<div class="list-group" id="about-sidebar">
							<a href="/aboutfundwok" class="list-group-item active"><strong>About FundWok</strong></a>
						  <a href="/startafund" class="list-group-item">Start a Fund</a>
						  <a href="/applyforafund" class="list-group-item">Apply for a Fund</a>
						  <a href="/receiveafund" class="list-group-item">Receive a Fund</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>