<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <!--Nav Bar -->
        <div class="col-md-3">
          <nav class="bs-docs-sidebar">
            <ul id="faq-sidebar" class="nav nav-stacked fixed">
              <li>
                <a href="#GroupA">General</a>
                <ul class="nav nav-stacked">
                  <li><a href="#GroupASub1">What is FundWok?</a></li>
                  <li><a href="#GroupASub2">Why use FundWok?</a></li>
                  <li><a href="#GroupASub3">Is FundWok a crowdfunding site?</a></li>
                  <li><a href="#GroupASub4">What types of funds are accpetable on FundWok?</a></li>
                  <li><a href="#GroupASub5">How does it work?</a></li>
                </ul>
              </li>
              <li>
                <a href="#GroupB">Funder</a>
                <ul class="nav nav-stacked">
                  <li><a href="#GroupBSub1">Who can create a fund?</a></li>
                  <li><a href="#GroupBSub2">How do I create a fund?</a></li>
                  <li><a href="#GroupBSub3">Can I change the fund details once the fund has been created?</a></li>
                  <li><a href="#GroupBSub4">Can I manage multiple funds at the same time?</a></li>
                  <li><a href="#GroupBSub5">Is there a minimum amount I have to fund?</a></li>
                  <li><a href="#GroupBSub6">How can I access information about the applicants for my fund?</a></li>
                </ul>
              </li>
              <li>
                <a href="#GroupC">Fund Applicant</a>
                <ul class="nav nav-stacked">
                  <li><a href="#GroupCSub1">Who can apply for a fund?</a></li>
                  <li><a href="#GroupCSub2">How can I apply for a fund?</a></li>
                  <li><a href="#GroupCSub3">Can I apply to multiple funds at the same time?</a></li>
                  <li><a href="#GroupCSub4">Can I nominate someone else to receive a fund?</a></li>
                  <li><a href="#GroupCSub5">What do I do once I’ve been selected to receive a fund?</a></li>
                  <li><a href="#GroupCSub6">How can I receive my fund?</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <!--Main Content -->
        <div class="col-md-9" id="faq-content">
          <section id="GroupA" class="group">
            <h3>General</h3>
            <hr class="post-content-divider clear">
            <div id="GroupASub1" class="subgroup">
              <h4>What is FundWok?</h4>
              <p>
                FundWok is an innovative online social community where resources are located and shared effectively. It serves as a hub for great ideas and initiatives that are encouraged and supported. Simply put, FundWok is where established professionals or individuals make differences however they like. Our slogan is: “Find it, or Fund it.” 
              </p>
            </div>
            <hr>
            <div id="GroupASub2" class="subgroup">
              <h4>Why use FundWok?</h4>
              <p>
                FundWok allows any person or organization to fund any project. It is a unique site that allows funders to appropriate $5 or more as they see fit without any limitations. Whether promoting a good deed, contributing to neighborhood cleanup, marketing a business, or learning a skill, FundWok is the place to connect with others and join the conversation towards a common goal.
              </p>
            </div>
            <hr>
            <div id="GroupASub3" class="subgroup">
              <h4>Is FundWok a crowdfunding site?</h4>
              <p>
                FundWok is a unique social platform that is unlike other crowdfunding sites. The funds offered here are not just intended for creative projects, but for a variety of initiatives, ideas, and goals that can benefit from a little push. Those seeking resources on FundWok don't have to create a lengthy marketing campaign to explain their project, but only have to start browsing for available funds already being offered.
              </p>
            </div>
            <hr>
            <div id="GroupASub4" class="subgroup">
              <h4>What types of funds are acceptable on FundWok?</h4>
              <p>
                The sky's the limit when it comes to starting a fund on our site. Want to offer $20 for someone to learn coding? Give the fund to a prospective programmer! Have $5 to treat someone deserving to a cup of coffee? Go make her day! There are categories for funds, but if you don’t see a category for your specific need, click on Misc. Start browsing for funds <a href="/">here</a>.
              </p>
            </div>
            <hr>
            <div id="GroupASub5" class="subgroup">
              <h4>How does it work?</h4>
              <p>
                It's easy! See the <a href="/aboutfundwok">About FundWok</a> pages where the process is explained in simple steps.
              </p>
            </div>
          </section>
          <div class="faq-section-break">
          </div>
          <section id="GroupB" class="group">
            <h3>Funder</h3>
            <hr class="post-content-divider clear">
            <div id="GroupBSub1" class="subgroup">
              <h4>Who can create a fund?</h4>
              <p>
                Anyone can create a fund, whether it’s one or more individuals, or a company. Examples of funds started include marketing a business, adopting an animal, accomplishing a run, treating someone to a massage, and so on. It’s free to create a fund, and you can create as many as you would like.
              </p>
            </div>
            <hr>
            <div id="GroupBSub2" class="subgroup">
              <h4>How do I create a fund?</h4>
              <p>
                Simply <a href="/users/sign_up">Sign Up</a>, and  click on <a href="/posts/new">New Fund</a>, and you’re ready to go! Start making a difference to whoever you want, with however much you want to give!
              </p>
            </div>
            <hr>
            <div id="GroupBSub3" class="subgroup">
              <h4>Can I change the fund details once the fund has been created?</h4>
              <p>
                Yes. After you've created your fund, click on your name in the upper right-hand corner, and go to <%= link_to 'Profile', current_user %>, where you can edit all the details for funds you have created.
              </p>
            </div>
            <hr>
            <div id="GroupBSub4" class="subgroup">
              <h4>Can I manage multiple funds at the same time?</h4>
              <p>
                Yes. FundWok promotes collaboration on goals and projects, so we encourage funders to set up as many funds as they have ideas. You don't make any payment upon fund creation, so start funding.
              </p>
            </div>
            <hr>
            <div id="GroupBSub5" class="subgroup">
              <h4>Is there a minimum amount I have to fund?</h4>
              <p>
                Yes, the fund has to be at least $5, usually the price of a cup of morning joe.
              </p>
            </div>
            <hr>
            <div id="GroupBSub6" class="subgroup">
              <h4>How can I access information about the applicants for my fund?</h4>
              <p>
                Each fund pages allows the funder to access information about all the applicants. Switch between the description and applicants tabs to view the information you need. Click on each applicant’s name to see his or her specific details.
              </p>
            </div>
          </section>
          <div class="faq-section-break">
          </div>
          <section id="GroupC" class="group">
            <h3>Fund Applicant</h3>
            <hr class="post-content-divider clear">
            <div id="GroupCSub1" class="subgroup">
              <h4>Who can apply for a fund?</h4>
              <p>
                Anyone can apply for a fund, and it's free to apply. As long as you think you are the right candidate for the fund, you can submit your application.
              </p>
            </div>
            <hr>
            <div id="GroupCSub2" class="subgroup">
              <h4>How can I apply for a fund?</h4>
              <p>
                Each fund allows an individual or company to submit an application to be considered, which is displayed right below the details of the fund. You have 200 characters to tell the funder why you should get this fund - you can also attach supporting documents for further consideration.
              </p>
            </div>
            <hr>
            <div id="GroupCSub3" class="subgroup">
              <h4>Can I apply to multiple funds at the same time?</h4>
              <p>
                Yes. As it's free to apply for a fund, and applying for multiple funds only gives you more chances to be selected to receive a fund. If you have multiple aspirations, why not try to fund as many of them as possible?
              </p>
            </div>
            <hr>
            <div id="GroupCSub4" class="subgroup">
              <h4>Can I nominate someone else to receive a fund?</h4>
              <p>
                Yes. If you see a fund that you think will be perfect for someone else, nominate that person. Simply click on the blue box under the description of the fund, and fill out their email, your name, and a short message to them. They will get an email from FundWok encouraging them to apply.
              </p>
            </div>
            <hr>
            <div id="GroupCSub5" class="subgroup">
              <h4>What do I do once I’ve been selected to receive a fund?</h4>
              <p>
                After you have been selected to receive a fund, your application will become a thread where you and the funder can communicate with each other about the process of collecting your fund. If the funder requires you to perform certain actions to receive your fund, like take a lesson or buy a book, you can provide updates of the process. When you are done submitting the requirements of the fund, you can mark it as complete.
              </p>
            </div>
            <hr>
            <div id="GroupCSub6" class="subgroup">
              <h4>How can I receive my fund?</h4>
              <p>
                After your fund is complete and approved by the funder, you'll get your check at the end of the    following month. Don't forget to update your contact information on the <a href= '/receiving'>My Funds</a> page which you can find upon clicking on your name on the upper right corner.
              </p>
            </div>
          </section>    
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-top-offset">
</div>

<script>
  $('body').scrollspy({
    target: '.bs-docs-sidebar',
    offset: 90
  });

  $('#faq-sidebar li a').click(function(event) {
    event.preventDefault();
    $($(this).attr('href'))[0].scrollIntoView();
    scrollBy(0, -60);
  });
</script>