<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <!--Nav Bar -->
        <div class="col-md-3">
          <nav class="bs-docs-sidebar">
            <ul id="faq-sidebar" class="nav nav-stacked fixed">
              <li>
                <a href="#GroupA">General</a>
                <ul class="nav nav-stacked">
                  <li><a href="#GroupASub1">What is FundWok?</a></li>
                  <li><a href="#GroupASub2">Why use FundWok?</a></li>
                  <li><a href="#GroupASub3">Is FundWok a crowdfunding site?</a></li>
                  <li><a href="#GroupASub4">What types of funds are accpetable on FundWok?</a></li>
                  <li><a href="#GroupASub5">How does it work?</a></li>
                </ul>
              </li>
              <li>
                <a href="#GroupB">Funder</a>
                <ul class="nav nav-stacked">
                  <li><a href="#GroupBSub1">Who can create a fund?</a></li>
                  <li><a href="#GroupBSub2">How to create a fund?</a></li>
                  <li><a href="#GroupBSub3">Can I change the fund details after it's been created?</a></li>
                  <li><a href="#GroupBSub4">Can I manage multiple funds at the same time?</a></li>
                  <li><a href="#GroupBSub5">Is there a minimum amount on the fund I create?</a></li>
                  <li><a href="#GroupBSub6">Can I see the details of the applicants of my fund?</a></li>
                </ul>
              </li>
              <li>
                <a href="#GroupC">Fund Applicant</a>
                <ul class="nav nav-stacked">
                  <li><a href="#GroupCSub1">Who can apply for a fund?</a></li>
                  <li><a href="#GroupCSub2">How to apply for a fund?</a></li>
                  <li><a href="#GroupCSub3">Can I apply to multiple funds at the same time?</a></li>
                  <li><a href="#GroupCSub4">What to do after being selected for a fund?</a></li>
                  <li><a href="#GroupCSub5">How to receive a fund?</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <!--Main Content -->
        <div class="col-md-9" id="faq-content">
          <section id="GroupA" class="group">
            <h3>General</h3>
            <hr class="post-content-divider clear">
            <div id="GroupASub1" class="subgroup">
              <h4>What is FundWok?</h4>
              <p>FundWok is a dynamic community where resources are effectively located and shared, however small or big it is. FundWok is also where ideas and initiatives are supported by people with like minds, be they world-changing or everyday one. </p>
            </div>
            <hr>
            <div id="GroupASub2" class="subgroup">
              <h4>Why use FundWok?</h4>
              <p>FundWok makes it easy to make a difference on your own terms however much you'd like to give, with or without a condition. FundWok is the place to join the conversation if you embrace diversity of dreams and believe in baby steps. </p>
            </div>
            <hr>
            <div id="GroupASub3" class="subgroup">
              <h4>Is FundWok a crowdfunding site?</h4>
              <p>FundWok is not a crowdfunding site that you see elsewhere. The funds you see on FundWok are not just for creative projects, but a variety of initiatives, ideas, and goals that can benefit from a little push. Those that seeking resources here on FundWok don't have to create lengthy marketing materiasl to elaborate their needs, but only have to start browsing.</p>
            </div>
            <hr>
            <div id="GroupASub4" class="subgroup">
              <h4>What types of funds are accpetable on FundWok?</h4>
              <p>If creative projects are not the only thing you think can benefit from a little help, sky's the limit. Got $20 for a cool coding lesson that got you started? Share it to a prospective programmer just like you used to be! Got $5 to treat someone a nice cup of coffee that you’d enjoy? Go make her day! Start browsing funds <a href="/">here</a>.</p>
            </div>
            <hr>
            <div id="GroupASub5" class="subgroup">
              <h4>How does it work?</h4>
              <p>It's easy! See <a href="/howitworks">How It Works</a> page where the process is explained with an example.</p>
            </div>
          </section>
          <div class="faq-section-break">
          </div>
          <section id="GroupB" class="group">
            <h3>Funder</h3>
            <hr class="post-content-divider clear">
            <div id="GroupBSub1" class="subgroup">
              <h4>Who can create a fund?</h4>
              <p>Everyone can create a fund, and it's free to create one. Examples of things you can createa a fund for include starting a business, adopting an animal, accomplishing a run, treating oneself to a hopspot... you name it.</p>
            </div>
            <hr>
            <div id="GroupBSub2" class="subgroup">
              <h4>How to create a fund?</h4>
              <p>Simply <a href="/users/sign_up">Sign Up</a>, and you're ready to go. Click on <a href="/posts/new">New Fund</a> when logged in, and that's where you start making a difference to whoever you want, with however much you want to give!</p>
            </div>
            <hr>
            <div id="GroupBSub3" class="subgroup">
              <h4>Can I change the fund details after it's been created?</h4>
              <p>Yes. After you've created your fund, you can click on your name on the upper right corner on the navigation, where you can edit all the funds that you create.</p>
            </div>
            <hr>
            <div id="GroupBSub4" class="subgroup">
              <h4>Can I manage multiple funds at the same time?</h4>
              <p>Yes. As it's free to create a fund, managing multiple funds at the same time only gives you more chances to advocate for things you want to share with the world. You don't make any payment upon fund creation.</p>
            </div>
            <hr>
            <div id="GroupBSub5" class="subgroup">
              <h4>Is there a minimum amount on the fund I create?</h4>
              <p>Yes, the fund has to be at least 5 dollars -- only your daily dose of coffee. Not too hard huh?</p>
            </div>
            <hr>
            <div id="GroupBSub6" class="subgroup">
              <h4>Can I see the details of the applicants of my fund?</h4>
              <p>Yes. In your fund page where the fund decription is, you can switch to the 'applicants' tab where you see a list of all the applicants. You can click on their names to go to their page just like yours.</p>
            </div>
          </section>
          <div class="faq-section-break">
          </div>
          <section id="GroupC" class="group">
            <h3>Fund Applicant</h3>
            <hr class="post-content-divider clear">
            <div id="GroupCSub1" class="subgroup">
              <h4>Who can apply for a fund?</h4>
              <p>Everyone can apply for a fund, and it's free to apply for one. As long as you think you are who the fund is created for, you can submit your application.</p>
            </div>
            <hr>
            <div id="GroupCSub2" class="subgroup">
              <h4>How to apply for a fund?</h4>
              <p>On each fund page, you submit your application on the bottom. You have 200 characters to tell the funder why you should get this fund - you can also attach evidence where you see fit.</p>
            </div>
            <hr>
            <div id="GroupCSub3" class="subgroup">
              <h4>Can I apply to multiple funds at the same time?</h4>
              <p>Yes. As it's free to apply for a fund, applying for multiple funds only gives you more chances to be selected and receive a fund.</p>
            </div>
            <hr>
            <div id="GroupCSub4" class="subgroup">
              <h4>What to do after being selected for a fund?</h4>
              <p>After you're selected, your application will become a thread where you and the funder can communicate with each other and you can submit updates. When you are done submitting whatever fulfills the completion of the fund, as specified by the funder, you can mark it complete.</p>
            </div>
            <hr>
            <div id="GroupCSub5" class="subgroup">
              <h4>How to receive a fund?</h4>
              <p>After your fund is complete and there is no modification required by the funder, you'll get your fund at the end of the next month. Don't forget to tell us where to send the fund to, on the <a href= '/receiving'>Finances</a> page in your personal folder.</p>
            </div>
          </section>    
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('body').scrollspy({
    target: '.bs-docs-sidebar',
    offset: 60
  });

  $('#faq-sidebar li a').click(function(event) {
    event.preventDefault();
    $($(this).attr('href'))[0].scrollIntoView();
    scrollBy(0, -60);
  });
</script>