<section id="howitworks">
  <div class="container">
    <div class="row">
      <div class="board">

        <div class="board-inner">
          <ul class="nav nav-tabs" id="myTab">
            <div class="liner"></div>
            <li class="active">
              <a href="#welcome" data-toggle="tab" title="welcome">
                <span class="round-tabs one">
                  <i class="glyphicon glyphicon-home"></i>
                </span> 
              </a>
            </li>
            <li>
              <a href="#profile" data-toggle="tab" title="profile">
                <span class="round-tabs two">
                  <i class="fa fa-search"></i>
                </span> 
              </a>
            </li>
            <li>
              <a href="#messages" data-toggle="tab" title="bootsnipp goodies">
                <span class="round-tabs three">
                  <i class="fa fa-paper-plane"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="#settings" data-toggle="tab" title="blah blah">
                <span class="round-tabs four">
                  <i class="fa fa-star"></i>
                </span> 
              </a>
            </li>
            <li>
              <a href="#doner" data-toggle="tab" title="completed">
                <span class="round-tabs five">
                  <i class="glyphicon glyphicon-ok"></i>       
                </span>
              </a>
            </li>
          </ul>
        </div><!-- end board-inner -->

        <div class="tab-content">
          <div class="tab-pane fade in active" id="welcome">
            <h3 class="head text-center">Welcome to FundWok!</h3>
            <div class="narrow">
              <div class="row text-center">
                <div class="col-md-2">
                  <img src="http://placehold.it/70x70" class="img-circle demo-image" />
                </div>
                <div class="col-md-10">
                  Meet Jared, an IT salesperson looking for a career change into web development and seeking for resources in the business. Jared learned about FundWok, where he heard there might be some of the same interest looking to reach out.
                </div>
              </div>
            </div>                         
            <p class="text-center">
              <a href="/" class="btn btn-fw btn-outline-rounded">Explore with Jared<i style="margin-left:10px;" class="fa fa-space-shuttle"></i></a>
            </p>
          </div>
          <div class="tab-pane fade" id="profile">
            <h3 class="head text-center">Look for a Fund</h3>
            <p class="narrow text-center">
              Jared browses available funds on FundWok, and thinks what he’s looking for may be in the ‘Technology’ category, so off he goes. He then sees a fund ‘I’m giving $30 to 5 people who want to learn coding’, which sounds like what he’s looking for. 
            </p>                          
            <p class="text-center">
              <%= link_to @post do %>
                <span class="btn btn-fw btn-outline-rounded">Look what Jared's found<i style="margin-left:10px;" class="fa fa-sign-in"></i></span>
              <% end %>
            </p>     
          </div>
          <div class="tab-pane fade" id="messages">
            <h3 class="head text-center">Apply for a Fund</h3>
            <p class="narrow text-center">
              Jared applies for the fund by submitting a short text describing his intention. As he has dabbled with some code in his spare time, he also attaches some code snippets to show he means business.
            </p>      
            <p class="text-center">
              <%= link_to post_path(@post, anchor: "fw-panel") do %>
                <span class="btn btn-fw btn-outline-rounded">See Jared's application<i style="margin-left:10px;" class="fa fa-comments"></i></span>
              <% end %>
            </p>
          </div>
          <div class="tab-pane fade" id="settings">
            <h3 class="head text-center">Get Selected</h3>
            <p class="narrow text-center">
              Andy, a freelance software engineer and the funder of the fund ‘I’m giving $30 to 5 people who want to learn coding’ got Jared’s application and is happy to be helping out someone who is at where he used to be. Andy selects Jared as a receiver of the fund and in exchange for the fund, Andy looks forward to Jared writing about his experience learning coding which can help even more new coders!
            </p>   
            <p class="text-center">
              <%= link_to post_path(@post, anchor: "fw-panel") do %>
                <span class="btn btn-fw btn-outline-rounded">See who has been selected<i style="margin-left:10px;" class="fa fa-search"></i></span>
              <% end %>
            </p>
          </div>
          <div class="tab-pane fade" id="doner">
            <div class="text-center">
              <i class="img-intro icon-checkmark-circle"></i>
            </div>
            <h3 class="head text-center">Get funded</h3>
            <p class="narrow text-center">
              To fulfill the condition of the fund, Jared writes a blog post about his experience learning Ruby on Rails as an IT sales person. Jared updates the progress on the fund, marks the fund complete. The fund is coming in!
            </p>
            <p class="text-center">
              <a href="/" class="btn btn-fw btn-outline-rounded">See other great funds<i style="margin-left:10px;" class="fa fa-space-shuttle"></i></a>
            </p>
          </div>
          <div class="clearfix"></div>
        </div><!-- end tab-content -->

      </div><!-- end board -->
    </div><!-- end row -->
  </div><!-- end container -->
</section>              