<div class="intro-pages">
	<div class="jumbotron" id="receiveafund-visual">
	</div>

	<div class="container">
		<div class="row">
	    <div class="col-md-10 col-md-offset-1">
	    	<div class="row">
					<div class="col-md-9">
						<h1>Receive a Fund</h1>

						<br />

						<p>If you have been chosen to receive a fund, FundWok makes it easy to collect your earnings. Just follow these easy steps.</p>

						<br />

						<ol>
							<li>Check your inbox to see if you have been awarded the fund</li>
							<li>Communicate with the funder in a thread found in your fund application to discuss any requirements or instructions for receiving your fund. Please note that until your application has been selected, you may only communicate with the funder in a public thread where no contact information may be shared.</li>
							<li>Once all the requirements have been met, mark the fund as complete</li>
							<li>Once verified by your funder, FundWok will send out your fund at the end of the following month. Make sure your contact information is up-to-date in the Finances section of your profile</li>
							<li>Put your fund to good use!</li>
						</ol>
					</div>

					<div class="col-md-3">
						<div class="list-group" id="about-sidebar">
							<a href="/aboutfundwok" class="list-group-item"><strong>About FundWok</strong></a>
						  <a href="/startafund" class="list-group-item">Start a Fund</a>
						  <a href="/applyforafund" class="list-group-item">Apply for a Fund</a>
						  <a href="/receiveafund" class="list-group-item active">Receive a Fund</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>