<div class="intro-pages">
	<div class="jumbotron" id="startafund-visual">
	</div>

	<div class="container">
		<div class="row">
	    <div class="col-md-10 col-md-offset-1">
	    	<div class="row">
					<div class="col-md-9">
			    	<h1>Start a Fund</h1>

			    	<br />

						<p>FundWok allows anyone to start a fund. This social medium gives everyone the chance to make a difference, learn something, hire someone, or pay for a service or tangible good, no matter what the budget is. Starting a fund is completely free, and you can fund with as little as $5. You can start as many funds at one time as you like.</p>

						<br />

						<p>Here are easy-to-follow instructions for starting a fund.</p>

						<ol>
							<li>Register for the site here: <%= link_to "Sign Up", new_user_registration_path %></li>
							<li>Click on New Fund here: <%= link_to "New Fund", new_post_path %></li>
							<li>Choose the appropriate category for your fund</li>
							<li>List details and requirements for your fund</li>
							<li>Pick an amount to fund (min. $5)</li>
							<li>Share your fund on social media sites to promote your offer or venture</li>
							<li>Check your e-mail for updates about who applied for your fund</li>
							<li>Pick the appropriate applicant to award the fund to</li>
						</ol>

						<br />

						<p>FundWok allows the funders to make changes or updates to their funds by editing the content or the requirements at any time. You can see the details about your fund and the applicants that have applied for it on the fund page. Just switch between the description and the applicants tabs to see relevant information.</p>

						<p>Get funding!</p>
					</div>
					<div class="col-md-3">
						<div class="list-group" id="about-sidebar">
							<a href="/aboutfundwok" class="list-group-item"><strong>About FundWok</strong></a>
						  <a href="/startafund" class="list-group-item active">Start a Fund</a>
						  <a href="/applyforafund" class="list-group-item">Apply for a Fund</a>
						  <a href="/receiveafund" class="list-group-item">Receive a Fund</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>