<div class="page-top-offset">
</div>

<div class="container">
  <div class="row">
	  <div class="col-md-10 col-md-offset-1">

			<div class="scroll-wrap panel panel-default">
		  	<div class="scroll-heading panel-heading">
		  		FundWok Terms of Use
		  	</div>
		  	<div class="scroll-content legal">
		  		<h3>TERMS OF USE</h3>

					<p>
						This is the terms of use governing your use of FundWok Service. All FundWok users must read carefully and accept these terms before using the service offered by FundWok. FundWok is a registered company in Delaware that is located in 340 S Lemon Ave #3668, Walnut, CA 91789. FundWok is owned and directed by Jung-ju Lin. By using the FundWok Service, you agree to be bound by these terms, our privacy policy, all applicable laws and all conditions or policies referenced here. if you do not agree to these terms, please do not use the FundWok Service.
					</p>
					  
					<h4>Eligibility to Use the Service</h4>
					<p>
						By using the FundWok website you acknowledge that you are not under 18 years of age. If you are between the ages of 13 and 17, you can use the service with the consent and supervision of your parent or legal guardian who is at least 18 years old provided that your parent or legal guardian also agrees to be bound by these terms and agrees to be responsible for your use of the Service.
					</p>

					<h4>General terms</h4>
					<ul>
						<li>By accessing the FUNDWOK website or using the Service in any manner, you become a FundWok user.</li>
						<li>FundWok reserve the right to refuse use of the Service to anyone and to reject, cancel, interrupt, remove or suspend a fund or application at any time for any reason without liability.</li>
						<li>The FundWok website contains the funder’s profile within each fund page that direct users to the funder’s social media pages, if provided by the funder, when clicked. The FundWok website also embed social media widgets in each fund page that enables sharing the fund to other social media platforms as shown in the widget.</li>
						<li>The FundWok website will link to Paypal in each application in the fund page when the funder selects the fund receiver by clicking the ‘Select’ button on the fund application.</li>

						<li>FundWok reserves the right to link the website to any website or service in the future.</li>
						<li>If you access the Service from other locations, you do so at your own initiative and are responsible for compliance with local laws.</li>
						<li>The platform will serve as a mainframe to house all of the individual fund pages.</li>
						<li>Funders can determine the amount of the fund which has to be at least equal to fiver dollars, the number of receivers, and whether the fund is given free or with a condition. After the fund is created, other users can submit an application within 200 characters on the fund page, and attach evidence whenever deemed helpful to be selected for the fund.</li>
						<li>The funder agrees to provide their payment information when linked to Paypal at the time they select a fund receiver. The payment will be collected immediately upon the selection of the fund receiver.  The amount of the fund minus the site credits the funder has is the amount the fund creator will be charged.</li>
						<li>The funder agrees to have sufficient funds or credit available upon selection of the fund receiver to ensure the fund is collected.</li>
						<li>The funders agree to make a good faith attempt to select applications that fulfill the fund’s condition as described by the funder on the fund page</li>
						<li>For all funds, FundWok gives to the funder each fund applicant’s User ID and application. For selected fund receiver, FundWok additionally gives to the funder each fund receiver’s name and email.</li>
						<li>Because of occasional failures of payments from the funder, FundWok cannot guarantee the receipt by funder of the amount pledged minus fees.</li>
						<li>FundWok is under no obligation to become involved in disputes between any users, or between users and any third party arising in connection with the use of the Service.</li>
					</ul> 

					<h4>Registration</h4>
					<ul>
						<li>By access to the FundWok website you can view content without registering, but as a condition of using certain aspects of the service, you may be required to register with FundWok and provide an e-mail address, a user name and password. You shall provide accurate, complete, and updated registration information.</li>
						<li>You are solely responsible for updating any and all pertinent registration information. Failure to do so shall constitute a breach of the terms of use which may result in immediate termination of your account.</li> 
						<li>FundWok reserves the right in its sole discretion to refuse registration or cancel a user email, user name, and fund.</li>
						<li>You are solely responsible for activity that occurs on your account and shall be responsible for maintaining the confidentiality of your password for the Site. You shall never use another user account without the other User’s express permission.</li>
						<li>FundWok will immediately notify users in writing of any unauthorized use of your account. You shall be responsible for any losses caused to FundWok and other users by any use of your account, both unauthorized and authorized.</li>
					</ul>

					<h4>Conduct</h4>
					<p>In using the FundWok service:</p>
					<ul>
						<li>You understand that you are liable for all information, products or services, in whatever form, that you make available to other users and you promise not to use the Service for any purpose that is prohibited by the use policy or law.</li>
						<li>You agree not to post any material that is obscene, lewd, lascivious and pornographic, contains nudity or visual depictions of sexual acts.</li>
						<li>You agree that the Service is provided either for your own personal use and commercial use.</li>
						<li>You agree not to infringe any patent, trademark, trade secret, copyright, right of publicity, or other right of any other person or entity, or violate any law or contract.</li>
						<li>You are responsible for your use of the services, for any content you provide, and for any consequences thereof, including the use of your content by other users and our third parties partners.</li>
						<li>You understand that your content may be syndicated, relied on, distributed, or published by FUNDWOK to other sites, or by our partners and if you do not have the right to submit content for such use, it may subject you to liability.</li> 
						<li>You represent and warrant that you have all the rights, power and authority necessary to grant the rights granted herein to any content that you submit.</li>
						<li>You agree not to upload, post, email, transmit or otherwise make available any Information, products or services, that are unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another’s privacy, hateful, or racially, ethnically or otherwise objectionable.</li>
						<li>You agree not to harm minors in any way.</li>
						<li>You shall not take any action that imposes or may impose (as determined by FundWok in its sole discretion) an unreasonable or disproportionately large burden or load on FundWok or its third-parties provider's infrastructure.</li>
						<li>You agree not to impersonate any person or entity, including, but not limited to, a Company representative, forum leader, or falsely state or otherwise misrepresent your affiliation with a person or entity.</li>
						<li>You agree not to forge headers or otherwise manipulate identifiers in order to disguise the origin of any Information transmitted through the Service.</li>
						<li>You agree not to introduce any malicious software, viruses, worms, Trojan horses, or other harmful code on the site that are designed or intended to disrupt, damage, limit, or interfere with the proper function of any software, hardware, or telecommunications equipment or to damage or obtain unauthorized access to any system, data, password, or other information of FundWok or any third parties.</li>
						<li>You agree not to upload, post, email, transmit or otherwise make available any Information, products or services, that you do not have a right to make available under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements).</li>
						<li>You agree not to post any content that constitutes unsolicited or unauthorized advertising or promotional material or any junk mail, spam, or chain letters.</li>
						<li>You agree not to use the Site in any tortuous or unlawful manner, including the posting of libelous, defamatory, scandalous, threatening, harassing or private information without the permission of the person(s) involved, or posting content that is likely to cause emotional distress.</li>
						<li>FundWok do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted via the service or endorse any opinions expressed via the Service.</li>
						<li>Under no circumstances will FundWok be liable in any way for any content, including, but not limited to, any errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of any content posted, emailed, transmitted or otherwise made available via the services or broadcast elsewhere. The service may include advertisements or other content, which may be targeted to the content or information on the service, queries made through the service, or other information, and you have no claim against FundWok for the placement of advertising or similar content on the service or in connection with the display of content or information from the service whether submitted by you or others.</li>
						<li>You understand that by using the service, you may be exposed to content that might be offensive, harmful, inaccurate or otherwise inappropriate, or in some cases, postings that have been mislabeled or are otherwise deceptive.</li>
						<li>You agree not to post any content that disparages any third-party or FundWok.</li>
						<li>You agree not to interfere with or disrupt the service or servers or networks connected to the service, or disobey any requirements, procedures, policies or regulations of networks connected to the service.</li>
						<li>You agree not to circumvent any security-related features of the site, including those designed to limit copying or reproduction of the content.</li>
						<li>Users agree to not abuse other users' personal information.</li> 
						<li>you shall not interfere or attempt to interfere with the proper working of the service or any activities conducted on the service.</li>
						<li>You shall not bypass any measures FundWok may use to prevent or restrict access to the service.</li>
						<li>You shall not decipher, decompile, disassemble, reverse engineer, or otherwise attempt to derive any source code or underlying ideas or algorithms of any part of the Service, except to the limited extent applicable laws specifically prohibit such restriction.</li>
						<li>You shall not modify, translate, or otherwise create derivative works of any part of the service.</li>
						<li>FundWok does not guarantee that any content will be made available through the Service.</li>
						<li>FundWok has no obligation to monitor the service or content.</li>
						<li>FundWok reserves the right to, at any time, for any reason, and without notice: cancel, reject, interrupt, remove, suspend a user account or remove, edit, modify any content.</li>
						<li>All content, whether publicly posted or privately transmitted, is the sole responsibility of the user.</li>
					</ul>

					<h4>Fees and Payments</h4>
					<ul>
						<li>The payment gateway integrated with FundWok is PayPal.</li>
						<li>Joining FundWok is free.</li>
						<li>FundWok reserves the right to change the service fees and the changes will effective after provide you with notice by posting the changes on the Site.</li>
						<li>FundWok reserves the right to change, use or add any payment way in the future.</li>
						<li>Users of the FundWok Service are subject to and must adhere to the terms of the PayPal Terms of Service and other agreements relating to their Service transactions.</li>
						<li>Every fund is free to create.</li>
					</ul>

					<h4>RETURN POLICY</h4>
					<ul>
						<li>FundWok will process the refund to the funder through PayPal or any payment gateways specified within seven (7) days from the date of selecting the fund receiver when the payment is made.</li>
						<li>FundWok reserves the right to cancel, interrupt, remove, or suspend a fund or application to a fund at any time and for any reason.</li>
						<li>The funders reserve the right to cancel and ask the fund receiver to refund at any time.</li>
					</ul>

					<h4>Intellectual Property</h4>
					<ul>
						<li>Users provided certain information and materials for FundWok to use and display on the Service.</li>
						<li>Users acknowledge that they not violate the copyright law either in USA or their countries by using any information on FundWok platform.</li>
						<li>Under the Copyright Act, any person who knowingly materially misrepresents that material is infringing or was removed or disabled by mistake or misidentification may be subject to liability.</li>
						<li>If you are a copyright owner and have a good-faith belief that material on our website and/or Service infringes one of your copyrights, you may notify us in writing using the procedure described below.  In order for us to process your notice of copyright infringement, it must be sent to our Email below.</li><br />
						info@fundwok.com
					</ul>

					<p>When we receive a notice under this procedure, we will expeditiously remove or disable access to the material that is claimed to be infringing or to be the subject of infringing activity.</p>
					<p>The Notification of Claimed Infringement must include the following:</p>
					<ol type="a">
						<li>an electronic or physical signature of the owner or of the person authorized to act on behalf of the owner of the copyright interest.</li>
						<li>Identification of the copyrighted work (or works) that you claim has been infringed.</li>
						<li>A description of the material that you claim is infringing, and the location where the original or an authorized copy of the copyrighted work exists.</li>
						<li>A clear description of where the infringing material is located on our website.</li>
						<li>Your name, address, telephone number, and e-mail address.</li>
						<li>A statement that you have a good-faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law.</li> 
						<li>A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.</li>
					</ol> 

					<h4>Limitation of liability</h4>
					<p>You understand and agree that FundWok shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages result from your use of this service.</p>

					<h4>Taxes</h4>
					<ul>
						<li>The fund receiver is solely responsible for understanding that taxing authorities may classify funds raised through the Service as taxable income to him and any beneficiary who will receive funds.</li>
						<li>The fund receiver is solely responsible for paying all fees and taxes associated with the use of the Service.</li>
						<li>FundWok encourages fund receivers to consult with a licensed tax advisor from their local jurisdiction when applying for a fund so that they understand and prepare for the tax obligations that may incur from the funds raised.</li>
					</ul>

					<h4>Use policy Modification</h4>
					<ul>
						<li>FundWok reserves the right to modify theses terms at any time.</li>
						<li>By using FundWok services you unconditional accept of all changes made to this agreement.</li>
					</ul>

					<h4>Governing Law</h4>
					<ul>This terms of use shall be governed by and construed in accordance with the laws of the State of Delaware and the United States, without giving effect to any principles of conflicts of law, and without application of the Uniform Computer Information Transaction Act or the United Nations Convention of Controls for International Sale of Goods.</ul>
					<ul>You agree that any action at law or in equity arising out of or relating to these terms, or your use or non-use of the services, shall be filed only in the state or federal courts located in Delaware and you hereby consent and submit to the personal jurisdiction of such courts for the purposes of litigating any such action.</ul>
					<ul>You hereby irrevocably waive any right you may have to trial by jury in any dispute, action, or proceeding.</ul>

					<h4>Contact</h4>
					<p>All communications with FundWok regarding the terms of use should be sent to the email below:<br />
					Email: info@fundwok.com</p>
					        
		    </div>
			</div>
		</div><!-- end col-md-10 -->        
  </div><!-- end row -->
</div><!-- end container -->