<div class="page-top-offset">
</div>

<div class="container">
	<div class="row">
  	<div class="col-md-5 col-md-offset-3">
	    <div class="thumbnail">
	      <img src="http://38.media.tumblr.com/tumblr_lwcve6mva61qzrlhgo1_400.gif" class="error-image">
	      <span class="small pull-right link-source"><a href="http://38.media.tumblr.com/tumblr_lwcve6mva61qzrlhgo1_400.gif">38.media.tumblr.com</a></span>
	      <div class="caption text-center">
	        <h3>Oops. Something went wrong.</h3>
	        <p>We all have our moments -- don't give up.</p>
	        <p><a href="/" class="btn btn-fw btn-outline-rounded">Look for the next great fund<i style="margin-left:10px;" class="fa fa-search"></i></a></p>
	        <span><%= link_to "Back", :back %></span>
	      </div>
	    </div>
  	</div>
	</div>
</div>