<div class="page-top-offset">
</div>
<%= @rescue_response %>
<div class="container">
	<div class="row">
  	<div class="col-md-5 col-md-offset-3">
	    <div class="thumbnail">
	      <img src="http://randalldsmith.com/wp-content/uploads/2011/11/cat_and_mouse.jpg" class="error-image">
	      <span class="small pull-right link-source"><a href="http://randalldsmith.com/wp-content/uploads/2011/11/cat_and_mouse.jpg">randalldsmith.com</a></span>
	      <div class="caption text-center">
	        <h3>Oops. You're not supposed to be here.</h3>
	        <p>We all make mistakes -- there's a way to be good again.</p>
	        <p><a href="/" class="btn btn-fw btn-outline-rounded">Look for the next great fund<i style="margin-left:10px;" class="fa fa-search"></i></a></p>
	        <span><%= link_to "Back", :back %></span>
	      </div>
	    </div>
  	</div>
	</div>
</div>