<div class="timeline-badge">
  <% if bet.open? %>
    <i class="fa fa-star-o"></i>
  <% elsif bet.selected? %>
    <i class="fa fa-star-half-o"></i>
  <% elsif bet.submitted? %>
    <i class="fa fa-star"></i>
  <% elsif bet.awaiting_modification? %>
    <i class="fa fa-star-half-o"></i>
  <% elsif bet.modified? %>
    <i class="fa fa-star-half-o"></i>
  <% elsif bet.funded? or bet.credited? %>
    <i class="fa fa-star"></i> 
  <% end %>
</div>