<div class="timeline-badge">
  <% if bet.open? %>
    <i class="fa fa-paper-plane-o"></i>
  <% elsif bet.selected? %>
    <% if bet.replies.any? { |r| r[:user_id] == bet.user.id } %>
      <i class="fa fa-star-half-empty"></i>
    <% else %>
      <i class="fa fa-star-o"></i>
    <% end %>
  <% elsif bet.submitted? %>
    <i class="fa fa-star"></i>
  <% elsif bet.awaiting_modification? %>
    <i class="fa fa-star-half-o"></i>
  <% elsif bet.modified? %>
    <i class="fa fa-star-half-o"></i>
  <% elsif bet.funded? or bet.credited? %>
    <i class="fa fa-star"></i> 
  <% end %>
</div>