<div id="category-selection-block" class="portfolio-selection center-block">
  <div class="text-center">
    <div class="text-center">
      <div id="portfolio-filter" class="btn-group-lg">
        <span type="button" class="category-selection" id="Ideas" value="Ideas">Ideas</span>
        <span type="button" class="category-selection" id="Business" value="Business">Business</span>
        <span type="button" class="category-selection" id="Creative" value="Creative">Creative</span>
        <span type="button" class="category-selection" id="Lifestyle" value="Lifestyle">Lifestyle</span>
        <span type="button" class="category-selection" id="Education" value="Education">Education</span>
        <span type="button" class="category-selection" id="Gifts" value="Gifts">Gifts</span>
        <span type="button" class="category-selection" id="Animals" value="Animals">Animals</span>
        <span type="button" class="category-selection" id="Travel" value="Travel">Travel</span>
      </div>
    </div>
  </div>
</div>