<div class="portfolio-selection center-block">
  <div class="text-center">
    <div class="text-center">
      <div id="portfolio-filter" class="btn-group-lg">  
        <span type="button" class="btn btn-default col-lg-2" id="Business" value="Business">Business</span>
        <span type="button" class="btn btn-default col-lg-2" id="Creative" value="Creative">Creative</span>
        <span type="button" class="btn btn-default col-lg-2" id="Education" value="Education">Education</span>
        <span type="button" class="btn btn-default col-lg-2" id="Lifestyle" value="Lifestyle">Lifestyle</span>
        <span type="button" class="btn btn-default col-lg-2" id="SocialImpact" value="Social Impact">Social Impact</span>
        <span type="button" class="btn btn-default col-lg-2" id="Tech" value="Tech">Tech</span>
      </div>
    </div>
  </div>
</div>