<div class="jumbotron" id="home-v2">
  <div class="container" id="home-content"> 
    <div class="col-md-4 col-sm-4 col-md-offset-5">
      <div class="col-md-12">
        <h1>Derrick received $100</h1>
        <h4>to start a business</h4>
      </div>
      <%= form_tag(posts_path, :method => "get", :class => "navbar-form v2-search-form") do %>
        <div class="col-md-10 col-sm-10 col-xs-12">
          <%= text_field_tag :search, params[:search], placeholder: "Search for funds", :class => "form-control" %>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
          <%= submit_tag "Search", :name => nil, :class => "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</div>