<div id="mainvisual-v2" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#mainvisual-v2" data-slide-to="0" class="active"></li>
    <li data-target="#mainvisual-v2" data-slide-to="1"></li>
    <li data-target="#mainvisual-v2" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div id="slide-1"></div>
      <div id="caption-1">
        <h2>Anthony got a fund</h2>
        <h4>for his web startup</h4>
        <span type="button" class="btn btn-danger category-selection" id="Ideas" value="Ideas">
          Find more funds for Ideas
        </span>        
      </div>
    </div>
    <div class="item">
      <div id="slide-2"></div>
      <div id="caption-2">
        <h2>Ashley got a fund</h2>
        <h4>to publish her debut novel</h4> 
        <span type="button" class="btn btn-danger category-selection" id="Creative" value="Creative">
          Find more funds for Creative
        </span>
      </div>
    </div>
    <div class="item">
      <div id="slide-3"></div>
      <div id="caption-3">
        <h2>Eric got a fund</h2>
        <h4>to learn Chinese</h4> 
        <span type="button" class="btn btn-danger category-selection" id="Education" value="Education">
          Find more funds for Education
        </span>       
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#mainvisual-v2" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#mainvisual-v2" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>