<%= bet.body %>
<% if bet.proofs.any? %>
  <div>
    <% bet.proofs.each do |proof| %>
      <% if @post.user == current_user or bet.user == current_user %>
        <%= link_to proof.document.url do %>
          <small>
            <i class="fa fa-paperclip"></i>&nbsp;<%= proof.document_file_name %>
          </small>
        <% end %>
      <% else %>
        <%= link_to '#', :class => "hidden-attachment", data:{toggle: 'popover', container: 'body', html: 'true', content: "<span style='font-size: 0.8em;'>Only the funder and the applicant can see the attachment.</span>"} do %>
          <i class="fa fa-paperclip"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>