<div class="timeline-heading row">
	<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
	  <%= link_to image_tag(bet.user.user_info.avatar.url(:thumb), size: "50x50", :class => "img-circle author-thumbnail pull-left"), bet.user, :class => "media-object" %>
	</div>
	<div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
	  <h4 class="timeline-title"><%= link_to bet.user.name, bet.user %></h4>
	  <small class="text-muted pull-right"><i class="fa fa-time"></i><%= reformatted_post_datetime(bet.created_at) %></small>
	</div>
</div>