/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootsy
 *= require_tree .
 */

.hero-spacer {
  margin-top: 50px;
}

.hero-feature {
  margin-bottom: 30px;/* spaces out the feature boxes once they start to stack responsively */
}

footer {
  margin: 50px 0;
}

h1 {
	color: #777777;
}

.field_with_errors { display: inline; } 