// Place all the styles related to the bets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* */
.fund-application-prompt {
  z-index: 500;
  position: fixed;
  width: 100%;
  font-size: 1.5em;
}

.fund-application-action-needed a {
  color: #777;
}

.fund-application-action-needed a:hover {
  color: #777;
}

.fund-application-complete a {
  color: #fff;
}

.fund-application-complete a:hover {
  color: #fff;
}

.fund-application-open {
  z-index: 500;
  position: fixed;
  width: 100%;
  background-color: #eee;
}

.fund-application-open a {
  color: #aaa;
  font-size: 1.5em;
}

.fund-application-open a:hover {
  color: #aaa;
}

/* Bet show page timeline */

#fw-panel {
  width: 96%;
  position: relative;
  left: 2%;
}

.timeline {
  list-style: none;
  padding-top: -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
	margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 7px;
    left: 50%;
    margin-left: -25px;
    background: #fff;
    border: 1px solid #bbb;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
  
}

.timeline-badge.open {
  color: #2a6496;
}

.timeline-badge.success {
  color: #999;
}

.timeline-badge.warning {
   /* background-color: #f0ad4e !important;*/
}

.timeline-badge.danger {
   /* background-color: #d9534f !important;*/
}

.timeline-badge.info {
  color: #f1685e;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-heading {
  margin-bottom: 10px;
}

.timeline-heading .author-thumbnail {
  margin-right: 5px;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

.btn-apply-fund {
  background: #99b709;
  border-color: #89a408;
}

.btn-apply-fund:hover {
  background: #89a408;
  border-color: #89a408;
}

#fund-application-char-count {
  color: #999;
}

#fund-update-char-count {
  color: #999;
}

.request-modification {
  float: right;
  cursor: pointer;
  color: #999;
}

.request-modification:hover{
  text-decoration: underline;
  color: #99B709;
}

.hidden-attachment {
  color: #aaa;
  cursor: default;
}

.tip-attachment {
  color: #aaa;
  cursor: default;
  font-size: 1.5em;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 10px;
    }

    ul.timeline > li > .timeline-panel {
      width: 93%;
    }

    ul.timeline > li > .timeline-badge {
        left: -30px;
        margin-left: 0;
        top: 25px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
        margin: 10px;
        left: 20px;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}
/* Bet show page timeline ends */