#contact-response .response-image {
  -webkit-filter: grayscale(80%);
  width: 100%;
}

#contact-tab {
  display: block;
  height: 50px;
  margin: 0;
  padding: 0;
  padding-right: 5px;
  position: fixed;
  bottom: 30px;
  right: -5px;
  text-decoration: none;
  width: 50px;
  z-index: 2147483647;
  background: #fff;
  border: 2px solid #999;
}

#contact-tab-text {
	display: block;
	position: relative;
	top: 8px;
	color: #aaa;
}

a:hover #contact-tab {
	background: #eee;
}

#quick-contact-header {
	background-image: url('http://res.cloudinary.com/dxytnnzk9/image/upload/v1409754234/9_wl2kpi.jpg');
	background-position:center;
	height: 150px;
	background-size: cover; 
	filter: grayscale(100%); /* Current draft standard */
  -webkit-filter: grayscale(100%); /* New WebKit */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%); 
  -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
  filter: gray; /* IE */
  -webkit-filter: grayscale(1); /* Old WebKit */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0\'/></filter></svg>#grayscale");
}

#quick-contact-header-text {
	color: #fff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

#quick-contact-content-box {
	padding-top: 0px;
}

#quick-contact-content-box .login-help a {
	color: #99B709;
}