#home {
  height: 510px;
  position: relative;
  top: -20px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-image: url(http://www.thinkthru.info/media/25178/group-brainstorming_1_.jpg);
  background-size: cover;
  background-position: 50% 20%;
}

#headline {
  position: relative;
  top: 50px;
}

#headline {
  color: #fff;
}

.hr-fw {
  color: #eee;
  background-color: #eee;
  height: 1px;
}

#add-post {
  color: #777777;
}

#add-post {
  padding: 20px;
}