/* v1 */
#carousel-caption-slide-1 {
  position: absolute;
  bottom: 120px;
  right: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  color: #333;
  text-align: center; 
}

#carousel-caption-slide-2 {
  position: absolute;
  bottom: 50px;
  left: 13%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

#carousel-caption-slide-3 {
  position: absolute;
  bottom: 100px;
  left: 60%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  color: #333;
  text-align: center;
}
/* v1 ends */

/* v2 */
#home-v2 {
  height: 510px;
  position: relative;
  top: -20px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-image: image-url("http://res.cloudinary.com/dxytnnzk9/image/upload/v1409828996/derrick-sm_ktuumc.jpg");
  background-size: cover;
  background-position: 50% 20%;
}

#home-v2 #home-content {
  position: relative;
  top: 8%;
}

#home-v2 #home-content {
    position: relative;
    top: 150px;
  }

  #home-v2 #home-content h1 {
    font-size: 1.7em;
  }

  #home-v2 #home-content .v2-search-form {
    position: relative;
    left: -15px;
  }

  #home-v2 #home-content .v2-search-form .btn {
    position: relative;
    left: -10px;
  }
/* v2 ends */

#subtitle {
  width: 70%;
  position: relative;
  left: 13%;
}

.btn-start {
  width: 250px;
  height: 60px;
  font-size: 1.2em;
}

#headline {
  position: relative;
  top: 50px;
}

#headline {
  color: #fff;
}

.hr-fw {
  color: #eee;
  background-color: #eee;
  height: 1px;
}

.vcenter-button {
  height: 6em;
}

.vcenter-button-position {
  position: relative;
  top: 1.1em;
}

.vcenter-text {
  height: 6em;
}

@media (max-width: 1200px) {
  #home-content {
    top: 20%;
  }

  #subtitle {
    width: 100%;
    left: 0%;
  }

  .vcenter-text {
    height: 9em;
  }
}

@media (max-width: 766px) {
  #home-content {
    top: 40%;
  }
}