/* navbar */
.navbar-default {
  background-color: #fff;
  border-bottom: none;
  box-shadow: 0 0 1px #aaa;
}
/* title */
.navbar-default .navbar-brand {
  /*color: #fff;*/
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #99b709;
}

/* link */
.navbar-default .navbar-nav > li > a {
  color: #99b709;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #99b709;
  border-bottom: 3px solid #99b709;
}
.navbar-default .navbar-nav > .active > a {
  background-color: #fff;
  border-bottom: 3px solid #99b709;
  color: #99b709;
}
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: #99b709;
  background-color: #fff;
  border-bottom: 3px solid #99b709;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #fff;
  border-bottom: 3px solid #99b709;
}

/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #99b709;
  border-bottom-color: #99b709;
  
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .open > a .caret {
  border-top-color: #99b709;
  border-bottom-color: #99b709;
}

.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

/* mobile version */
.navbar-default .navbar-toggle {
  border-color: #99b709;
  background-color: #fff;
}
.navbar-default .navbar-toggle:hover {
  /*background-color: #fff;*/
}

/*.navbar-default .navbar-toggle:focus {
  background-color: #99b709;
}*/
.navbar-default .navbar-toggle .icon-bar {
  background-color: #99b709;
/*  color: #99b709;*/
}

@media (max-width: 767px) {
  /* links */
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #99b709;
    border-bottom: none;
  }
  .navbar-default .navbar-nav > .active > a {
    color: #fff;
    background-color: #99b709;
    border-bottom: none;
  }
  .navbar-default .navbar-nav > .active > a:hover, 
  .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #99b709;
    border-bottom: none;
  }
  .navbar-default .navbar-nav > .open > a, 
  .navbar-default .navbar-nav > .open > a:hover, 
  .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #99b709;
    border-bottom: none;
  }

  /* dropbdown */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #99b709;
    border-bottom: none;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #99b709;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a {
    color: #99b709;
    border-bottom: none;
  }

  .navbar-right {
    text-align: center;
  }
}