#homepage-new-fund {
    padding: 50px 0;
    background-color: #f0f0f0;
    text-align: center;

  .lead-big {
    font-size: 28px;
    line-height: 60px;
    color: #999;
	}

	.form-inline #price, .form-inline #quantity, .form-inline #criteria {
    overflow: hidden;
    line-height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px dotted;
    vertical-align: text-bottom;
    cursor: pointer;
	}

	.form-inline #price, .form-inline #quantity {
		width: 100px;
	}

	#criteria {
		max-width: 100%;
	}

	.form-inline .form-group label {
	   position: relative;
	}

	.homepage-new-fund-div {
		position: relative;
	}

	.form-inline .homepage-addfund-instruction {
    position: absolute;
    top: -14px;
    font-size: 14px;
    color: #bdc3c7; 
    opacity: 1;
    line-height: 22px;
	}

	.submit.btn.btn-lg {
    font-size: 28px;
    color: #999;
    border: 1px dotted;
    border-radius: 0;
	}

	input[type=text], .input-feedback {
  	font-family: 'Handlee', cursive;
	}

	#homepage-post-price-ok {
		display: none;
	}

	#homepage-post-price-nogood {
		display: none;
	}

	#homepage-post-quantity-ok {
		display: none;
	}

	#homepage-post-quantity-nogood {
		display: none;
	}

	#homepage-post-criteria-ok {
		display: none;
	}

	#homepage-post-criteria-nogood {
		display: none;
	}
}

.post-number-input {
	display: inline;
	width: 20%;
}

.validation-success {
	color: #99b709;
}

.validation-failed {
	color: #ed1c24;
}

#post-price-ok {
	display: none;
}

#post-price-nogood {
	display: none;
}

#post-category-ok {
	display: none;
}

#post-category-nogood {
	display: none;
}

#post-subcategory-ok {
	display: none;
}

#post-subcategory-nogood {
	display: none;
}

#post-description-ok {
	display: none;
}

#post-quantity-nogood {
	display: none;
}

#post-quantity-ok {
	display: none;
}

#post-description-nogood {
	display: none;
}

#post-criteria-nogood {
	display: none;
	font-size: 0.8em;
}

#post-criteria-ok {
	display: none;
	font-size: 0.8em;
}

#post-criteria-error-message {
	font-size: 0.8em;
}

#post-taglist-ok {
	display: none;
}

#post-taglist-nogood {
	display: none;
}

#post-location-ok {
	display: none;
}

#post-location-nogood {
	display: none;
}

#post-title {
	font-size: 1.3em;
	font-weight: 500;
}

.post-form {
	color: #595959;
	padding-top: 20px;
}

.post-form legend {
	font-size: 2em;
	color: #595959;
}