// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#directory span a {
	color: #777;
}

#directory h5 {
	margin-bottom: 10px;
}

#directory .category-block {
	margin-top: 20px;
	margin-bottom: 20px;
}

a .readmore-about {
	color: #888;
}

a .readmore-about:hover {
	color: #99b709;
}

#about {
  height: 510px;
  position: relative;
  top: -20px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-image: url('http://res.cloudinary.com/dxytnnzk9/image/upload/v1387957187/stsf_background_i9d716.jpg');
  background-size: cover;
  background-position: 50% 30%;
  text-shadow: #858585 0.1em 0.1em 0.2em;
}

#about-sidebar {
  margin-top: 30px;
  font-size: 0.9em;
}

#about-sidebar .list-group-item.active {
	background-color: #99b709;
	border-color: #99b709;
}

#aboutfundwok-visual {
	height: 320px;
  position: relative;
  top: -20px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-image: url('http://res.cloudinary.com/dxytnnzk9/image/upload/v1410627519/aboutfundwok_pkhua6.jpg');
  background-size: cover;
  background-position: 0% 30%;
  text-shadow: #858585 0.1em 0.1em 0.2em;
}

#startafund-visual {
  height: 320px;
  position: relative;
  top: -20px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-image: url('http://res.cloudinary.com/dxytnnzk9/image/upload/v1410627916/startafund_lmzwrh.jpg');
  background-size: cover;
  background-position: 50% 30%;
  text-shadow: #858585 0.1em 0.1em 0.2em;
}

#applyforafund-visual {
  height: 320px;
  position: relative;
  top: -20px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-image: url('http://res.cloudinary.com/dxytnnzk9/image/upload/v1410628288/applyforafund_rkksd8.jpg');
  background-size: cover;
  background-position: 50% 25%;
  text-shadow: #858585 0.1em 0.1em 0.2em;
}

#receiveafund-visual {
  height: 320px;
  position: relative;
  top: -20px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-image: url('http://res.cloudinary.com/dxytnnzk9/image/upload/v1410629266/receiveafund_gg6syh.jpg');
  background-size: cover;
  background-position: 50% 85%;
  text-shadow: #858585 0.1em 0.1em 0.2em;
}

.featurette-divider {
  margin: 30px 0;
}

#about-action {
  height: 300px;
  position: relative;
  top: -20px;
  margin-top: 20px;
  margin-bottom: -60px;
  padding-bottom: 0px;
  background-image: url('http://res.cloudinary.com/dxytnnzk9/image/upload/v1391439636/happymanv2_opdojf.jpg');
  background-size: 80%;
  background-position: 100% 60%;
  color: #fff;
  text-shadow: #858585 0.1em 0.1em 0.2em;
}

#about-add-new-fund {
	margin-top: 20px;
}

#about-join-fw {
	margin-top: 20px;
}

#about-join-fw-content {
	position: relative;
	top: 3px;
}

#about-join-fw-btn {
	margin-top: 20px;
}

.action-text {
	position: relative;
	top: -15px;
	font-family: 'Titillium Web', sans-serif;
}

.action-icon {
	position: relative;
	top: -5px;
}

.about-icon {
	font-size: 10em;
	position: relative;
	top: 30px;
}

/* finances page */
.clickable-row {
	cursor: pointer;
}

.finances-tab {
	position: relative;
	top: -10px;
}

.finances-number {
	font-weight: 500;
	font-size: 1.2em;
}

@media (max-width: 1200px) {
	#receiveafund-visual {
		background-position: 50% 70%;
	}

	#headline { 
	  position: relative;
	  top: -40px;
	}

	#about-action {
		background-size: cover;
		background-image: url('http://res.cloudinary.com/dxytnnzk9/image/upload/v1391440036/happymansmall_g6a6wi.jpg');
		background-position: 50% 200%;
	}

	#about-action-headline {
		position: relative;
		bottom: -40px;
	}

	#btn-readon {
		position: relative;
		top: -15px;
	}
}

@media (max-width: 800px) {
	.intro-pages h1 {
		margin-top: 0;
		margin-bottom: 0;
	}

	#aboutfundwok-visual {
		height: 200px;
	  background-position: 15% 30%;
	}

	#startafund-visual {
		height: 200px;

	}

	#applyforafund-visual {
		height: 200px;
	}

	#receiveafund-visual {
		height: 200px;
	}
}

@media (max-width: 600px) {
	#headline { 
	  position: relative;
	  top: -120px;
	}
	
	.about-icon {
		top: 0;
	}

	#about-action-headline {
		bottom: -30px;
	}
}