// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Home page main visual */
.line {
  border-top:6px solid #98b709;
  border-bottom:6px solid #98b709;
}

.map-wrapper {
    background: #a6bfde;
}

#home-page-featured {
    background: #000;
    position: relative;
    max-height: 552px;
    overflow: hidden;
    clear: both;
    height: auto;

}
 #Textus {
     position: absolute;
     overflow: hidden;
     z-index: 1;
     width: 60%;
     margin-left: 20%;
     margin-right: 20%;
     margin-top: 6%;
}

#myCarousel  {
   /* z-index: 99999;*/
}
 #Textus p{
     background: #99b709;
    margin-top: 10px;
     padding: 20px;
     color: #ffffff;
     display: inline-block;
     overflow: hidden;
     font-size: 30px;
     font-weight: bold;
     line-height: 40px;

}
#home-page-featured #Textus {
    text-align: center;
}

#home-page-featured ul {
    margin: 0 -300px 0 0;
    height: 155px;
    overflow: hidden;
}
#home-page-featured li {
    float: left;
    width: 155px;
    height: 155px;
    position: relative;
    left: -100px;
}
#home-page-featured img {
    float: left;
    position: relative;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.41;
    width: 155px;
    height: 155px;
}
#home-page-featured a {
    width: 155px;
    height: 155px;
}
#home-page-featured img:hover {
    width: 155px;
    height: 155px;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}
#home-page-featured a:hover {
    width: 155px;
    height: 155px;
}

.clear {
    clear: both;
}
/* main visual ends */

/* listing */

  /* Project section title */
.decoration {
    padding: 0 20px;
    background: image-url('line-diagonal.png') repeat-x;
    background-position: 50% 60%;
}

.proj {
    margin-top: 30px;
    margin-bottom: 30px;
}

.nobgr {
  padding: 0 20px;
  background: image-url('background.png') repeat;
}
  /* Project section title ends */

  /* listing items */
.folder h4 a, .table a{
    text-decoration: none;
    color: #4d4d4d;
}

.folder h4 a:hover, .table a:hover {
    text-decoration: none;
    color: #4d4d4d;
}

.proj_name {
    padding: 5px 5px 5px 20px;

}

.author-info {
  height: 100px;
}

.author, .author a:hover, .author a {
    color: #98b709;
    position: relative;
    display: block;
    top: 0px;
    right: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}

.folder {
  margin-top: -8px;
  margin-bottom: -4px;
  height: 70px;
}

.reduced-margin-bottom {
  margin-bottom: 5px;
}

.reduced-margin-top {
  margin-top: 5px;
}

.listing-big {
  margin: -5px -10px 0 -5px;
}

.align-left {
  text-align: left;
}

.brief-desc {
  height: 110px;
}

.brief-desc-text, .brief-desc-text a:hover, .brief-desc-text a {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.media-body {
  height: 100px;
}

/* Post show page */
.theme-background {
    background: image-url('background.png') repeat !important;
    padding-bottom: 40px;
}

.description {
  margin-top: 40px;
}

.content {
  /*width: 960px;*/
  color: #4d4d4d;
}

.video {
    /*background-color: #7b7b7b;*/
    /*height:380px;*/
    margin-top:30px;
}

.carousel {
  position: relative;
  line-height: 1;
}

#slide_left {
  position: absolute;
  top: 45%;
  left: 20px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: 
  #ffffff;
  text-align: center;
  background: image-url('slide_proj_left.png') no-repeat;
  height: 50px;
  width: 50px;
  opacity: 0.5;
}

#slide_right {
  right: 40px;
  opacity: 0.5;
  top: 45%;
  height: 50px;
  width: 50px;
  left: auto;
  background: image-url('slide_proj_right.png') no-repeat;
}

#tabs_pages .tabs_pages_ul {
  list-style-type: none;
  margin: 30px -10px 0 -32px;
}

.tabbable::before, .tabbable::after {
  display: table;
  line-height: 0;
  content: "";
}

.tabbable::after {
  clear: both;
}

#tabs_pages .tabs_pages_ul li.active {
  background: image-url('background.png') repeat;
  border-bottom: none;
  border-top: 6px solid #dcdcdc;
  border-radius: 3px 3px 0 0;
}

#tabs_pages .tabs_pages_ul li {
  list-style-type: none;
  display: inline-block;
  background: #fff;
  border: 1px solid #dcdcdc;
  margin-left: -4px;
  text-align: center;
  padding-top: 20px;
}

#tabs_pages .tabs_pages_ul li a {
  color: rgb(77, 77, 77);
}

.tab-content {
  overflow: auto;
}

#description_content .title_description_content {
  font-size: 16px;
  font-weight: normal;
  margin-top: 25px;
  font-family: 'Patua One',sans-serif;
}

#description_content .text_description_content {
  font-size: 13px;
  margin-top: 25px;
  font-family: 'Titillium Web',sans-serif;
  font-weight: 400;
}

#backers_content {
  margin-top: 30px;
}

#backers_content .backers_block_text {
  margin-top: 15px;
  height: 65px;
}

#backers_content .backers_block_text .image_face_backers_content {
  border: 1px solid #dcdcdc;
  float: left;
  width: 58px;
}

#backers_content .backers_block_text .face_backers_content {
  background: url('http://placehold.it/100x100') center center no-repeat 
  #fff;
  margin: 1px;
  width: 56px;
  height: 56px;
  float: left;
}

#backers_content .backers_block_text .text_backers_content {
  border: 1px solid 
  #dcdcdc;
  float: left;
  font-family: 'Titillium Web',sans-serif;
  height: 58px;
  margin-left: -1px;
  padding-left: 5px;
  width: 180px;
}

#backers_content .backers_block_text .text_backers_content .backer_name {
  font-size: 16px;
  font-family: 'Patua One',sans-serif;
  font-weight: normal;
  position: relative;
  top: 2px;
}

#backers_content .backers_block_text .text_backers_content .number_project {
  color: 
  #a0a0a0;
  position: relative;
  top: -3px;
}

#updates_content .updates_block_text {
  margin-top: 30px;
}

#social_uncategorized {
  background: 
  #fff;
  height: 50px;
  border: 1px solid 
  #dcdcdc;
  margin-top: 42px;
}

#social_uncategorized .left_social_uncategorized {
  float: left;
  background: image-url('pencil.png') left center no-repeat;
  margin-top: 15px;
  margin-left: 20px;
  color: #98B709;
  font-size: 14px;
}

#social_uncategorized .left_social_uncategorized span {
  padding-left: 25px;
  font-family: 'Titillium Web',sans-serif;
}

#social_uncategorized .social .inline {
  margin-top: 14px;
  margin-right: 14px;
}

#social_mid li {
  list-style: none;
}

#social li, #social_b li, #social_mid li {
  display: inline-block;
  margin-right: 5px;
  line-height: 24px;
  vertical-align: middle;
}

#social_mid {
  position: relative;
  top: 10px;
  right: 10px;
}

#author_review h3 {
  font-size: 19px;
  font-weight: normal;
  margin-top: 20px;
  font-family: 'Patua One',sans-serif;
}

#author_review #face_social_text {
  margin-top: 20px;
}

#author_review #face_social_text .left_face_social_text {
  background: #fff;
  width: 30%;
  float: left;
  border: 1px solid #dcdcdc;
}

#author_review #face_social_text .left_face_social_text .face_big {
  border-right: 1px solid 
  #dcdcdc;
}

#author_review #face_social_text .left_face_social_text .pix_author {
  
  height: 142px;
  width: 142px;
  margin: 3px;
  position: relative;
  right: 20px;
}

.pix_author {
  
}

#author_review #face_social_text .left_face_social_text .social_link_author {
  display: block;
  float: left;
  width: 25%;
}

.social_bord {
  border-bottom: 1px solid #e7e7e7;
}

.social_decc {
  padding: 16px 20px 16px 17px;
}

.social_bord_last {
}

#author_review .right_face_social_text {
  width: 65%;
  display: block;
  float: left;
}

#author_review .right_face_social_text .name_surname {
  font-size: 17px;
  font-weight: normal;
  font-family: 'Patua One',sans-serif;
}

#author_review .right_face_social_text .proff {
  font-size: 16px;
  font-family: 'Patua One',sans-serif;
  font-weight: normal;
}

#author_review .right_face_social_text .text_author_right {
  font-size: 14px;
  margin-top: 10px;
  font-family: 'Titillium Web',sans-serif;
}

#asc_a_question .reply_user {
  border-bottom: 1px solid 
  #e7e7e7;
  margin-top: 15px;
  padding-bottom: 20px;
}

#asc_a_question .reply_user .image_face {
  background: image-url('http://placehold.it/100x100') no-repeat;
  margin: 4px;
  width: 52px;
  height: 52px;
  border: 1px solid 
  #e7e7e7;
}

#asc_a_question .reply_user .name_and_date {
  margin-top: 5px;
}

#asc_a_question .reply_user .name_and_date, #asc_a_question .reply_user .text_reply {
  margin-left: 10px;
  font-size: 14px;
  font-family: 'Titillium Web',sans-serif;
}

#asc_a_question .reply_user .name_and_date .user_name {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Patua One',sans-serif;
}

#asc_a_question .reply_user .name_and_date .reply_t {
  color: #98B709;
  font-size: 16px;
}

#asc_a_question .reply_user .name_and_date, #asc_a_question .reply_user .text_reply {
  margin-left: 10px;
  font-size: 14px;
  font-family: 'Titillium Web',sans-serif;
}

#asc_a_question .reply_user.subreply {
  margin-left: 33px;
}

#asc_a_question .reply_user {
  border-bottom: 1px solid #e7e7e7;
  margin-top: 15px;
  padding-bottom: 20px;
}

#asc_a_question_form {
  background: #fff;
  border: 1px solid #e7e7e7;
  margin-top: 20px;
  margin-bottom: 30px;
}

#asc_a_question_form h3 {
  font-size: 20px;
  font-weight: normal;
  text-align: left;
  padding-left: 30px;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 10px;
  font-family: 'Patua One',sans-serif;
}

#asc_a_question_form h3 .h3_quest {
  color: #98B709;
}

.controls-row {
}

.message {
  padding: 10px 20px 20px 20px;
}

.controls-row::before, .controls-row::after {
  display: table;
  line-height: 0;
  content: "";
}

.controls-row::after {
  clear: both;
}

.controls-row::before, .controls-row::after {
  display: table;
  line-height: 0;
  content: "";
}

#asc_a_question_form .form_question textarea {
  font-family: 'Titillium Web',sans-serif;
  margin-top: 20px;
}

#redex, #redex2, #redex3 {
  resize: none;
}

.tmargin20 {
  margin-top: 20px;
}

.message .btn {
  padding: 7px 20px;
}

#back_this_project_block {
  margin: 7px auto 0;
  padding: 0 25px;
}

.backers_days_blocks.first {
  border-top: none;
}

.backers_days_blocks {
  padding: 10px 0;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #fafafa;
}

.backers_days_blocks .image_first {
  background: image-url('project_sidebar/people.png') left center no-repeat;
  height: 23px;
  width: 23px;
  float: left;
  margin-top: 11px;
}

.text_backers_days_blocks {
  width: 225px;
  float: right;
  margin-top: 12px;
  font-family: 'Titillium Web',sans-serif;
}

.text_backers_days_blocks .top_text_backers_days_blocks {
  font-size: 17px;
  font-weight: bold;
}

.backers_days_blocks .image_second {
  background: image-url('project_sidebar/dollar.png') left center no-repeat;
  height: 23px;
  width: 23px;
  float: left;
  margin-top: 11px;
}

.text_backers_days_blocks .top_text_backers_days_blocks {
  font-size: 17px;
  font-weight: bold;
}

.backers_days_blocks .image_third {
  background: image-url('project_sidebar/clock.png') left center no-repeat;
  height: 23px;
  width: 23px;
  float: left;
  margin-top: 11px;
}

.back_this_project_button {
  border-top: 1px solid #fafafa;
  margin: 0 25px;
}

.back_this_project_button .back_project {
  border-radius: 55px;
  border-top: 1px solid #ffeeff;
  border-bottom: 3px solid #849f08;
  padding: 15px 58px;
  margin: 20px auto 0;
  display: block;
  font-family: 'Patua One',sans-serif;
  font-size: 19px;
  font-weight: normal;
}

#pledges_block {
  margin-top: 30px;
}

#pledges_block h3 {
  margin: 0 25px;
  font-size: 17px;
  font-weight: normal;
  font-family: 'Patua One',sans-serif;
}

.sidebar_descr .decoration {
  background-position: 50% 50%;
}

.pledges_block_info {
  margin: 15px auto 0;
  padding: 0 25px;
}

.pledges_block_info .pledges_block_info_link a {
  background: image-url('project_sidebar/minus.png') left center no-repeat;
  height: 20px;
  padding-left: 25px;
  color: 
  #98B709;
  font-family: 'Patua One',sans-serif;
  cursor: pointer;
  font-size: 14px;
}

.pledges_block_info_backers {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Titillium Web',sans-serif;
}

.pledges_block_info_backers, .pledges_block_info_text, .pledges_block_info_estimate_delivery {
  margin-left: 25px;
}

.pledges_block_info_text {
  font-size: 14px;
  font-family: 'Titillium Web',sans-serif;
}

.pledges_block_info_estimate_delivery {
  font-size: 14px;
  color: #a0a0a0;
  font-family: 'Titillium Web',sans-serif;
}

#payment_gateway {
  margin: 30px 20px 15px 20px;
}

#payment_gateway h3 {
  font-size: 18px;
  font-weight: normal;
  font-family: 'Patua One',sans-serif;
}

.payment_gateway_block {
  background: #fff;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
}

.payment_gateway_block .payment_cost {
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
  color: #98B709;
  font-size: 45px;
  font-weight: bold;
  height: 50px;
  padding-top: 30px;
}

.payment_getaway_block .your_card {
  text-align: center;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 25px;
}

.choose {
text-align: left;
}

.choose li {
  list-style: none;
}

input[type="checkbox"] + label, input[type="radio"] + label {
  color: #444;
  cursor: pointer;
  margin-bottom: 15px;
}

input[type="radio"]:checked + label::before {
  background-position: -108px -279px;
}

input[type="radio"] + label::before {
  background-position: 0px -279px;
}

input[type="checkbox"] + label::before, input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  height: 17px;
  width: 18px;
  margin: 0 5px 0 0;
  background-image: image-url('sprite.png');
  background-repeat: no-repeat;
}

.payment_gateway_block .payment_gateway_button {
  border-bottom: 1px solid #e7e7e7;
  text-align: center;
  margin-bottom: 50px;
}

.payment_gateway_block .payment_gateway_button button {
  padding: 7px 40px;
  border-top: 1px solid #ffeeff;
  margin-top: 30px;
  margin-bottom: 34px;
  border-radius: 4px;
  font-family: 'Patua One',sans-serif;
  font-size: 18px;
  font-weight: normal;
  border-bottom: 3px solid #849f08;
}

.content .btn {
  background-image: -moz-linear-gradient(top, #f8f8f8, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #e6e6e6);
  background-image: -o-linear-gradient(top, #f8f8f8, #e6e6e6);
  background-image: linear-gradient(to bottom, #f8f8f8, #e6e6e6);
  background-repeat: repeat-x;
  border-top: 1px solid #ffeeff;
  -pie-background: linear-gradient(to bottom, #f8f8f8 0%, #e6e6e6 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f8f8f8', endColorstr='#e6e6e6')";
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#f8f8f8", endColorstr="#e6e6e6");
}

#load_more_posts {
  display: none;
  margin-bottom: 10px;
}

ul#portfolio-filter {
  /*margin: -20px 0;
padding: 0;

line-height: 64px;*/
}

.tags .btn {
  margin-left: 6px;
  font-size: 13px;
  font-family: 'Patua One',sans-serif;
  font-weight: 100;
  border-bottom: 3px solid #849f08;
}

#portfolio-filter .current {
  color: #c8c8c8;
}

#page {
      Min-height: 100%;
      position:relative;
}
 
#main {
      Padding-bottom: 75px;   /* This value is the height of your footer */
}

.portfolio-selection {
  margin-bottom: 70px;
  position: relative;
  left: -28px;
}

#portfolio-filter .btn {
  border-radius: 3px;
  background: #99b709;
  color: #ffffff;
  letter-spacing:1.5px;
  font-weight: 100;
}

#portfolio-filter .current {
  background: #ed1c24;
}

#posts-container .thumbnail .post-source {
  display: none;
}

#posts-container .followed .thumbnail .post-source {
  display: block;
  background-color: #99b709;
  color: #fff;
  padding: 2px 8px;
  position: absolute;
  z-index: 10;
  right: 15px;
  top: 10px;
}

#posts-container .nearby .thumbnail .post-source {
  display: block;
  background-color: #ed1c24;
  color: #fff;
  padding: 2px 8px;
  position: absolute;
  z-index: 10;
  right: 15px;
  top: 10px;
}

@media (max-width: 1200px) {
  .portfolio-selection {
    margin-bottom: 30px;
  }
}