/* Push footer to the bottom */

html,
body {
  margin:0;
  padding:0;
  height:100%;
}

#main-wrapper {
  min-height:100%;
  position:relative;
}
#main-header {
  padding:10px;
}
#main-body {
  padding-top: 30px;
  padding-bottom:270px;   /* Height of the footer plus padding */
}
#main-footer {
   bottom:0;
   width:100%;
   height:230px;   /* Height of the footer */
   position:absolute;
}
/* end pushing footer */

/* alert */

.alert {
  border-radius: 0;
}

.alert-success {
  background-image: -webkit-linear-gradient(top,#99B709 0,#99B709 100%);
  border: 1px solid #99B709;
  color: #fff;
}

.alert-warning {
  background-image: -webkit-linear-gradient(top,#e7f992 0,#e7f992 100%);
  border: 1px solid #e7f992;
  color: #99B709;
}

/* end alert */

.page-top-offset {
  height: 40px;
}

a, a:hover {
  color: #99B709;
}

.btn-fw { 
  color: #FFFFFF; 
  background-color: #99B709; 
  border-color: #99B709; 
} 
 
.btn-fw:hover, 
.btn-fw:focus, 
.btn-fw:active, 
.btn-fw.active, 
.open .dropdown-toggle.btn-fw { 
  color: #FFFFFF; 
  background-color: #8AA508; 
  border-color: #99B709; 
} 
 
.btn-fw:active, 
.btn-fw.active, 
.open .dropdown-toggle.btn-fw { 
  background-image: none; 
} 
 
.btn-fw.disabled, 
.btn-fw[disabled], 
fieldset[disabled] .btn-fw, 
.btn-fw.disabled:hover, 
.btn-fw[disabled]:hover, 
fieldset[disabled] .btn-fw:hover, 
.btn-fw.disabled:focus, 
.btn-fw[disabled]:focus, 
fieldset[disabled] .btn-fw:focus, 
.btn-fw.disabled:active, 
.btn-fw[disabled]:active, 
fieldset[disabled] .btn-fw:active, 
.btn-fw.disabled.active, 
.btn-fw[disabled].active, 
fieldset[disabled] .btn-fw.active { 
  background-color: #99B709; 
  border-color: #99B709; 
} 
 
.btn-fw .badge { 
  color: #99B709; 
  background-color: #FFFFFF; 
}

.btn-action {
  width: 250px;
  height: 60px;
  font-size: 1.2em;
}

.btn-action-content {
  position: relative;
  top: 0.2em;
  font-family: 'Titillium Web', sans-serif;
}

.unread-count {
  background-color: #ed1c24;
  padding: 2px 5px;
  color: #fff;
  border-radius: 30px;
}

.fw-main-color {
  color: #99B709;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: #99B709;
  border-color: #99B709;
}

.pagination>li>a {
  color: #99B709;
}