.btn-fw { 
  color: #FFFFFF; 
  background-color: #99B709; 
  border-color: #99B709; 
} 
 
.btn-fw:hover, 
.btn-fw:focus, 
.btn-fw:active, 
.btn-fw.active, 
.open .dropdown-toggle.btn-fw { 
  color: #FFFFFF; 
  background-color: #8AA508; 
  border-color: #99B709; 
} 
 
.btn-fw:active, 
.btn-fw.active, 
.open .dropdown-toggle.btn-fw { 
  background-image: none; 
} 
 
.btn-fw.disabled, 
.btn-fw[disabled], 
fieldset[disabled] .btn-fw, 
.btn-fw.disabled:hover, 
.btn-fw[disabled]:hover, 
fieldset[disabled] .btn-fw:hover, 
.btn-fw.disabled:focus, 
.btn-fw[disabled]:focus, 
fieldset[disabled] .btn-fw:focus, 
.btn-fw.disabled:active, 
.btn-fw[disabled]:active, 
fieldset[disabled] .btn-fw:active, 
.btn-fw.disabled.active, 
.btn-fw[disabled].active, 
fieldset[disabled] .btn-fw.active { 
  background-color: #99B709; 
  border-color: #99B709; 
} 
 
.btn-fw .badge { 
  color: #99B709; 
  background-color: #FFFFFF; 
}

.btn-action {
  width: 250px;
  height: 60px;
  font-size: 1.2em;
}

.btn-action-content {
  position: relative;
  top: 0.2em;
  font-family: 'Titillium Web', sans-serif;
}

.unread-count {
  background-color: #ed1c24;
  padding: 2px 5px;
  color: #fff;
  border-radius: 30px;
}

.fw-main-color {
  color: #99B709;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: #99B709;
  border-color: #99B709;
}

.pagination>li>a {
  color: #99B709;
}