.btn-fw { 
  color: #FFFFFF; 
  background-color: #99B709; 
  border-color: #99B709; 
} 
 
.btn-fw:hover, 
.btn-fw:focus, 
.btn-fw:active, 
.btn-fw.active, 
.open .dropdown-toggle.btn-fw { 
  color: #FFFFFF; 
  background-color: #8AA508; 
  border-color: #99B709; 
} 
 
.btn-fw:active, 
.btn-fw.active, 
.open .dropdown-toggle.btn-fw { 
  background-image: none; 
} 
 
.btn-fw.disabled, 
.btn-fw[disabled], 
fieldset[disabled] .btn-fw, 
.btn-fw.disabled:hover, 
.btn-fw[disabled]:hover, 
fieldset[disabled] .btn-fw:hover, 
.btn-fw.disabled:focus, 
.btn-fw[disabled]:focus, 
fieldset[disabled] .btn-fw:focus, 
.btn-fw.disabled:active, 
.btn-fw[disabled]:active, 
fieldset[disabled] .btn-fw:active, 
.btn-fw.disabled.active, 
.btn-fw[disabled].active, 
fieldset[disabled] .btn-fw.active { 
  background-color: #99B709; 
  border-color: #99B709; 
} 
 
.btn-fw .badge { 
  color: #99B709; 
  background-color: #FFFFFF; 
}