// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* pagination on the user show page */
#load_more_posts_user {
  display: none;
  margin-bottom: 10px;
}

#user-cover {
  height: 400px;
  position: relative;
  top: -20px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-size: cover;
  background-position: 50% 80%;
  background-color: #99b709;
}

#user-profile-main {
	position: absolute;
  top: -200px;
  left: 100px;
}

#user-profile-container {
  box-shadow: 1px 1px 10px #444;
}

#user-follow-panel {
  margin-top: 15px;
}

#user-follow-panel button {
  padding: 5px 10px;
  line-height: 15px;
}

.user-profile-outer {
  position: relative;
}

.user-profile-name {
  float: left;
}

.user-profile-location {
  float: right;
  color: #999;
}

.user-profile-block {
  padding: 15px;
}

#user-profile-offset-space {
  height: 100px;
}

.disabled-icon {
  color: #aaa;
}

.follow-number {
  font-weight: 600;
  font-size: 1.3em;
}

.unfollow-user {
  border-top: 1px solid #ffeeff;
  border-bottom: 3px solid #849f08;
  background-color: #dcdcdc;
}

.thumbnail-cover {
  height: 150px;
  background-size: cover;
  background-color: #99b709;
}

.follow-user-thumbnail {
  margin-left: 10px;
}

.follow-user-thumbnail-block {
  margin-top: 110px;
}

.follow-user-info {
  margin-top: 50px;
}

.follow-user-info a:hover {
  color: #ed1c24;
}

.follow-brief-desc {
  height: 70px;
  margin-top: 40px;
}

.follow-metrics {
  position: relative;
  left: 2px;
}

.follow-metrics-cell {
  padding: 0px;
}

.follow-metrics-button {
  padding-top: 6px;
  padding-right: 0;
}

@media (max-width: 1200px) {
  #user-profile-main {
    top: -300px;
    left: 100px;
  }

  #user-profile-offset-space {
    height: 150px;
  }

  .thumbnail-cover {
    background-position: 0 30%;
  }
}

@media (max-width: 900px) {
  #user-profile-main {
    top: -350px;
    left: 50px;
  }
}

@media (max-width: 766px) {
  #user-profile-main {
    top: -350px;
    left: 60px;
  }

  .follow-metrics {
    left: -10px;
  }

  .thumbnail-cover {
    background-position: 0 0;
  }
}

@media (max-width: 580px) {
  #user-profile-main {
    left: 0px;
  }
}