// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* pagination on the user show page */
#load_more_posts_user {
  display: none;
  margin-bottom: 10px;
}

#user-cover-upload-block {
  position: relative;
  top: -25px;
}

#user-cover {
  height: 400px;
  position: relative;
  top: -20px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-size: cover;
  background-position: 50% 80%;
  background-color: #99b709;
}

#user-profile-main {
  margin-top: -200px;
}

#user-profile-container {
  box-shadow: 1px 1px 10px #444;
  border-radius: 3px;
  padding: 15px;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.85);
}

#user-follow-panel {
  margin-top: 15px;
}

#user-follow-panel .follow-number {
  color: #777777;
}

#user-follow-panel button {
  padding: 5px 10px;
  line-height: 15px;
}

.user-profile-name {
  float: left;
}

.user-profile-location {
  float: right;
  color: #999;
}

.user-profile-block {
  padding: 15px;
}

#user-profile-offset-space {
  height: 100px;
}

.disabled-icon {
  color: #aaa;
}

.follow-number {
  font-weight: 600;
  font-size: 1.3em;
}

.unfollow-user {
  border-top: 1px solid #ffeeff;
  border-bottom: 3px solid #849f08;
  background-color: #dcdcdc;
}

.user-show-kudos {
  padding-top: -10px;
  margin-bottom: 5px;
}

.user-show-stats {
  position: relative;
  top: -10px;
  right: 10px;
  float: none;
  margin: 0 auto;
}

.user-show-follows {
  padding-left: 0;
  padding-right: 0;
  width: 105%;
  position: relative;
  float: none;
  margin: 0 auto;
}

.thumbnail-cover {
  height: 150px;
  background-size: cover;
  background-color: #99b709;
}

.follow-user-thumbnail {
  margin-left: 10px;
}

#follow-user-clickable-block {
  height: 110px;
}

.follow-user-thumbnail-block {
  
}

.follow-user-info {
  margin-top: 50px;
}

.follow-user-info a:hover {
  color: #ed1c24;
}

.follow-brief-desc {
  height: 70px;
  margin-top: 40px;
}

.follow-brief-desc .brief-desc-text {
  padding-left: 9px;
  padding-right: 9px;
  height: 75px;
  overflow: hidden;
}

.thumbnail-kudos {
  position: relative;
  top: 15px;
}

.thumbnail-kudos-number {
  font-size: 1.5em;
  font-weight: 600;
}

.follow-metrics {
  position: relative;
  left: 2px;
}

.follow-metrics-cell {
  padding: 0px;
  position: relative;
  right: 10px;
}

.follow-metrics-button .btn {
  position: relative;
  top: 8px;
  right: 8px;
}

@media (max-width: 1200px) {
  #user-profile-offset-space {
    height: 150px;
  }

  .thumbnail-cover {
    background-position: 0 30%;
  }

  #user-profile-follow {
    font-size: 1em;
  }

  .follow-metrics-button .btn {
    right: -6px;
  }
}

@media (max-width: 900px) {
  
}

@media (max-width: 766px) {
  .follow-metrics {
    left: -10px;
  }

  .thumbnail-cover {
    background-position: 0 0;
  }

  #user-profile-follow {
    font-size: 1.2em;
  }
}

@media (max-width: 580px) {
  #user-profile-follow {
    font-size: 1em;
  }

  .follow-metrics-cell {
    right: 0px;
  }

  .follow-metrics-button .btn {
    right: -14px;
  }
}