<!-- <form action="http://localhost:3000/transactions/create" method="post">
  <div class="field">
    <input type="text" name="card" />
  </div>
  <div class="field">
    <input type="text" name="amount" />
  </div>
  <div class="field">
     <input type="text" name="expiry" />
  </div>
  <input type="submit" value="Submit">
</form>

 -->