<% if notice %>
  <div class="alert alert-success" style="margin-bottom: -5px;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <%= alert %>
  </div>
<% end %> 