<div id="fwfooter">
  <div class="container">
    <div class="col-md-10 col-md-offset-1" id="footer-content">
      <div class="row">
        <div class="col-md-4 footer-col">
          <h4>About FundWok</h4>
          <hr>
          <p>FundWok is an innovative online social community where resources are located and shared effectively. It serves as a hub for great ideas and initiatives that are encouraged and supported. Our slogan is: “Find it, or Fund it.”&nbsp;<a href="/aboutfundwok"><span class="pull-right readmore-about">Read more <i class="fa fa-angle-double-right"></i></span></a></p>
        </div>
        <ul class="col-md-2 col-md-offset-1 list-unstyled footer-col">
          <li><h4>Company</h4></li>
          <hr class="hr-offset">
          <li><a href="/">Home</a></li>
          <li><a href="/comingsoon">Blog</a></li>
          <li><a href="/comingsoon">Press</a></li>
          <li><a href="/comingsoon">Jobs</a></li>
          <li><a href="/comingsoon">Investors</a></li>
        </ul>
        <ul class="col-md-2 list-unstyled footer-col">
          <li><h4>User</h4></li>
          <hr class="hr-offset">
          <li><a href="/startafund">Start a fund</a></li>
          <li><a href="/applyforafund">Apply for a fund</a></li>
          <li><a href="/receiveafund">Receive a fund</a></li>
        </ul> 
        <ul class="col-md-3 list-unstyled footer-col">
          <li><h4>Get Help</h4></li>
          <hr class="hr-offset">
          <li><a href="/faq">FAQ</a></li>
          <li> <%= link_to "#quick-contact", :data => {:toggle=>"modal"} do %>Customer Support<% end %></li>
          <li><a href="/termsofuse">Terms Of Use</a></li>
          <li><a href="/privacystatement">Privacy Statement</a></li>
        </ul>
      </dvi>
    </div>      
  </div>
</div>