<div id="fwfooter">
  <div class="container">
    <div class="col-md-10 col-md-offset-1" id="footer-content">
      <div class="row">
        <div class="col-md-4 footer-col">
          <h4>About Company</h4>
          <hr>
          <p>Aliquam dui lobortis vestibulum amet sit per sodales proin cursus suscipit sapien netus fermentum eleifend phasellus nam torquent mollis sociis conubia venenatis vivamus commodo enim cras eu sit integer massa</p>
        </div>
        <ul class="col-md-2 col-md-offset-1 list-unstyled footer-col">
          <li><h4>Company</h4></li>
          <hr class="hr-offset">
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Investors</a></li>
        </ul>
        <ul class="col-md-2 list-unstyled footer-col">
          <li><h4>User</h4></li>
          <hr class="hr-offset">
          <li><a href="#">Starting a fund</a></li>
          <li><a href="#">Accepting a fund</a></li>
          <li><a href="#">Advertising</a></li>
        </ul> 
        <ul class="col-md-3 list-unstyled footer-col">
          <li><h4>Get Help</h4></li>
          <hr class="hr-offset">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Customer Support</a></li>
          <li><a href="#">Return Policy</a></li>
          <li><a href="#">Terms Of Use</a></li>
          <li><a href="#">Privacy Statement</a></li>
        </ul>
      </dvi>
    </div>      
  </div>
</div>